.card {
    align-items: center;
    transform-style: preserve-3d;
    transition: all, 1s ease;
    perspective: 1000px;
    
}

.face {
    position: absolute;
    height: 240px;
    width: 500px;
    border-radius: 15px;
    top: -100px;
  
    background: url('../assets/imgs/10.jpeg');
    
}



.card-front {
    color: #FFF;
    box-shadow: 1px 1px 10px #000;
}


.card-front .chip {
    width: 50px;
}

.card-front .chip img{
    width: 100%;
}

.card-front .cardType {
    width: 70px;
    height: 50px;
    
}

.card-front .cardType img{
    width: 100%;
    height: auto;
}


.cardNumber {
    font-size: 2.4rem;
}

.cardHolder, .expires {
    color: rgb(185, 182, 182);
}

.expiresProp, .cardHolderProp {
    color: #FFF;
    font-size: 1.3rem;
}


.card-back {
    color: #FFF;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card-back .black {
    
    height: 50px;
    background-color: #000;
}

.card-back .white {
    
    height: 40px;
    width: 95%;
    border-radius: 5px;
    background-color: #FFF;
    
    color: #000;
    font-size: 1.5em;
}

.card-back .cardType {
    width: 70px;
    height: 50px;
    
}

.card-back .cardType img{
    width: 100%;
    height: auto;
}

.flipped {
    transform: rotateY(180deg);
}

 